##Syntax

In [ ]:
if 5>2:
  print("Yes")

Yes

In [ ]:
if 5>2:
  print("yes")
if 5>2:
  print("yes")

yes
yes

##Variables

In [ ]:
x = 5
y = 'john'
print(x)
print(y)
print(type(x))
print(type(y))

5
john
<class 'int'>
<class 'str'>

In [ ]:
x = str(1)
y = int(1)
z = float(1)
print(x)
print(y)
print(z)

1
1
1.0

In [ ]:
x, y, z = 'orange','banana','cherry'
print(x)
print(y)
print(z)

orange
banana
cherry

In [ ]:
x = y = z = 'banana'
print(x)
print(y)
print(z)

banana
banana
banana

In [ ]:
fruits = ['apple','banana','cherry']
x, y, z = fruits
print(x,y,z)

apple banana cherry

In [ ]:
x = 'awesome'
def myfunc():
  print('python is ' + x)

myfunc()

python is awesome

In [ ]:
x='awesome'
def myfunc():
  x = 'fantastic'
  print ('python is ' + x)
myfunc()
print('python is ' + x)

python is fantastic
python is awesome

In [ ]:
carname = 'volvo'
print(carname)

volvo

##Data Types

In [ ]:
x = 'hello world'
print(x,type(x))

hello world <class 'str'>

In [ ]:
x = 20
print(x,type(x))

20 <class 'int'>

In [ ]:
x = 20.5
print(x,type(x))

20.5 <class 'float'>

In [ ]:
x = 1j
print(x,type(x))

1j <class 'complex'>

In [ ]:
x =['apple','banana','cherry']
print(x,type(x))

['apple', 'banana', 'cherry'] <class 'list'>

In [ ]:
x = ('apple','banana','cherry')
print(x,type(x))

('apple', 'banana', 'cherry') <class 'tuple'>

In [ ]:
x = range(6)
print(x,type(x))

range(0, 6) <class 'range'>

In [ ]:
x = {'name':'john','age':25}
print(x,type(x))

{'name': 'john', 'age': 25} <class 'dict'>

In [ ]:
x = frozenset({'apple','banana','cherry'})
print(x,type(x))

frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>

In [ ]:
x = True
print(x,type(x))

True <class 'bool'>

In [ ]:
x = b'hello'
print(x,type(x))

b'hello' <class 'bytes'>

In [ ]:
x = bytearray(5)
print(x,type(x))

bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))
print(x,type(x))

<memory at 0x7fb1d7c8c7c0> <class 'memoryview'>

In [ ]:
x = None
print(x,type(x))

None <class 'NoneType'>

##Numbers

In [ ]:
x = 1
y = 1.1
z = 1j

#convert from int to folat:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex
c = complex(x)

print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

1.0 1 (1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random
print(random.randrange(1,10))

2

##Strings

In [ ]:
a = "sagar"
print(a[2])

g

In [ ]:
for x in 'sagar':
  print(x)

s
a
g
a
r

In [ ]:
a = 'sagar'
print(len(a))

5

In [ ]:
txt = 'the best things in life are free'
print('free' in txt)

True

In [ ]:
txt = 'the best things in life are free'
if 'free' in txt:
  print('yes', 'free is preset.')

yes free is preset.

In [ ]:
txt = 'the best things in life are free'
print('expensive' not in txt)

True

In [ ]:
txt = 'the best things in life are free'
if 'expensive' not in txt:
  print('no','expensive is not present.')

no expensive is not present.

In [ ]:
#slicing strings
a = 'hello world'
print(a[2:5])

llo

In [ ]:
print(a[:5])

hello

In [ ]:
print(a[2:])

llo world

In [ ]:
#negative indexing
print(a[-5:-2])

wor

In [ ]:
#modify strings
print(a.upper())

HELLO WORLD

In [ ]:
#remove extra space
a = ' hello, world! '
print(a.strip())

hello, world!

In [ ]:
#replace string with another string
a = 'hello world'
print(a.replace('h','s'))

sello world

In [ ]:
#split the string into substrings
a = 'hello, world'
print(a.split(','))

['hello', ' world']

In [ ]:
a = 'hello'
b = 'world'
c = a + b
print(c)

helloworld

In [ ]:
c = a + ' ' + b
print(c)

hello world

In [ ]:
#format strings
age = 26
txt = 'my name is sagar, i am {}'
print(txt.format(age))

my name is sagar, i am 26

In [ ]:
quantity = 3
itemno = 554
price = 49.45
myorder = 'i want {} pieces of item {} for {} dollars'
print(myorder.format(quantity,itemno,price))

i want 3 pieces of item 554 for 49.45 dollars

In [ ]:
myorder = 'i want to pay {2} dollars for {0} pieces of item {1}.'
print(myorder.format(quantity,itemno,price))

i want to pay 49.45 dollars for 3 pieces of item 554.

In [ ]:
txt = 'we are the so called \"vikings\" from the north'
print(txt)

we are the so called "vikings" from the north

##Booleans

In [ ]:
print(10>9, 10==9, 10<9)

True False False

In [ ]:
a = 200
b = 45
if b > a:
  print('b is greater than a')
else:
  print('b is not greater thean a')

b is not greater thean a

In [ ]:
print(bool('hello'))
print(bool(10))

True
True

In [ ]:
class myclass():
  def __len__(self):
    return 0
myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction():
  return True
print(myFunction())

True

In [ ]:
if myFunction():
  print('yes!')
else:
  print('no')

yes!

In [ ]:
x = 100
print(isinstance(x,int))

True

##Operators

In [ ]:
# Arithmetic:- Addition(+), Subtraction(-), Multiplication(*), Division(/), Modulus(%), Expontentiation(**), Floor division(//)
# Comparision:- Equal(==), Not equal(!=), Greater than(>), Less than(<), Greater than or equal to(>=), Less than or equal to(<=)
# Logical:- and, or, not
# Bitwise:- AND(&), OR(|), XOR(^), NOT(~)

##Lists

In [ ]:
#Allow Duplicates
list = ['apple','banana','cherry','apple']
print(list)

['apple', 'banana', 'cherry', 'apple']

In [ ]:
print(len(list))

4

In [ ]:
#A list contain diffrent data types
list1 = ['apple','banana','cherry']
list2 = [1,2,3,4,5]
list3 = [True, False, True]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
[True, False, True]

In [ ]:
list1 = ['abc',34,True,'male']
print(list1)

['abc', 34, True, 'male']

In [ ]:
print(type(list1))

<class 'list'>

In [ ]:
list = ['apple','banana','cherry']
print(list[1])

banana

In [ ]:
print(list[-1])

cherry

In [ ]:
if 'apple' in list:
  print('yes')

yes

In [ ]:
list[1] = 'blackcurrant'
print(list)

['apple', 'blackcurrant', 'cherry']

In [ ]:
list[1:2] = ['blackcurrant', 'watermelon']
print(list)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
list[1:3] = ['watermelon']
print(list)

['apple', 'watermelon', 'cherry']

In [ ]:
list = ['apple','banana','cherry']
list.insert(2,'watermelon')
print(list)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
list.append('orange')
print(list)

['apple', 'banana', 'watermelon', 'cherry', 'orange']

In [ ]:
list = ['apple','banana','cherry']
list.insert(1,'orange')
print(list)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#Extend list
list = ['apple','banana','cherry']
tropical = ['mango','pineapple','papaya']
list.extend(tropical)
print(list)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Add any iterable(Tuples, Sets, Dictionaries etc.)
list = ['apple','banana', 'cherry']
tuple = ('kiwi', 'orange')
list.extend(tuple)
print(list)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
#Remove list items
list = ['apple', 'banana', 'cherry']
list.remove('banana')
print(list)

['apple', 'cherry']

In [ ]:
#Remove specified index
list = ['apple', 'banana', 'cherry']
list.pop(1)
print(list)

['apple', 'cherry']

In [ ]:
list = ['apple', 'banana', 'cherry']
list.pop()
print(list)

['apple', 'banana']

In [ ]:
list = ['apple', 'banana', 'cherry']
del list[0]
print(list)

['banana', 'cherry']

In [ ]:
del list
print(list)

<class 'list'>

In [ ]:
list = ['apple', 'banana', 'cherry']
list.clear()
print(list)

[]

In [ ]:
#Loop lists
list = ['apple', 'banana', 'cherry']
for x in list:
  print(x)

apple
banana
cherry

In [ ]:
#Loop through the list items by referring to their index number
for i in range(len(list)):
  print(list[i])

apple
banana
cherry

In [ ]:
#Whie loop
list = ['apple', 'banana', 'cherry']
i = 0
while i < len(list):
  print(list[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#For loop
list = ['apple', 'banana', 'cherry']
[print(x) for x in list]

apple
banana
cherry

[None, None, None]

In [ ]:
#List comprehension
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = []
for x in fruits:
  if 'a' in x:
    list.append(x)
print(list)

['apple', 'banana', 'mango']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = [x for x in fruits if 'a' in x]
print(list)

['apple', 'banana', 'mango']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = [x for x in fruits if x != 'apple']
print(list)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = [x for x in fruits]
print(list)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
list = [x for x in range(10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list = [x for x in range(10) if x < 5]
print(list)

[0, 1, 2, 3, 4]

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = [x.upper() for x in fruits]
print(list)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = ['hello' for x in fruits]
print(list)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list = [x if x != 'banana' else 'orange' for x in fruits]
print(list)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
#Sort lists alphabetically
list = ['orange', 'mango', 'kiwi', 'pineapple', 'banana']
list.sort()
print(list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
list = [30, 45, 456, 32, 5, 3]
list.sort()
print(list)

[3, 5, 30, 32, 45, 456]

In [ ]:
#Sort lists alphabetically descending order
list = ['orange', 'mango', 'kiwi', 'pineapple', 'banana']
list.sort(reverse = True)
print(list)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
list = [30, 45, 456, 32, 5, 3]
list.sort(reverse = True)
print(list)

[456, 45, 32, 30, 5, 3]

In [ ]:
#Sort the list based on how close the number is to 50.
def myfunc(n):
  return abs(n - 50)
list = [100, 50, 65, 82, 23]
list.sort(key = myfunc)
print(list)

[50, 65, 23, 82, 100]

In [ ]:
#Copy lists
list = ['apple', 'banana', 'cherry']
mylist = list.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Join lists
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

##Tuples

In [ ]:
tuple = ('apple', 'banana', 'cherry')
print(tuple)

('apple', 'banana', 'cherry')

In [ ]:
print(len(tuple))

3

In [ ]:
tuple = ('apple')
print(type(tuple))

<class 'str'>

In [ ]:
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = (1,4,6,7,8,5)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 4, 6, 7, 8, 5)
(True, False, False)

In [ ]:
tuple = ('apple', 'banana', 'cherry')
print(type(tuple))

<class 'tuple'>

In [ ]:
#Using asterisk(*)
fruits = ('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ('apple', 'mango', 'papaya', 'cherry')
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya']
cherry

In [ ]:
tuple = ('apple','banana','cherry')
for x in tuple:
  print(x)

apple
banana
cherry

In [ ]:
tuple = ('apple','banana','cherry')
for i in range(len(tuple)):
  print(tuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

In [ ]:
#While loop
tuple = ('apple','banana','cherry')
i = 0
while i < len(tuple):
  print(tuple)
  i = i+1

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

In [ ]:
#Joint two tuples
tuple1 = ('a','b','c')
tuple2 = (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ('apple','banana','cherry')
tuple = fruits * 2
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

##Sets

In [ ]:
set = {'apple', 'banana', 'cherry'}
print(set)

{'apple', 'banana', 'cherry'}

In [ ]:
set = {'apple', 'banana', 'cherry', 'apple'}
print(set)

{'apple', 'banana', 'cherry'}

In [ ]:
#True and 1 considered the same value:
set = {'apple', 'banana', 'cherry', True, 1, 2}
print(set)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
#False and 0 considered the same value:
set = {'apple', 'banana', 'cherry', False, True, 0}
print(set)

{False, True, 'cherry', 'apple', 'banana'}

In [ ]:
set = {'apple', 'banana', 'cherry'}
print(type(set))

<class 'set'>

In [ ]:
set = {'apple', 'banana', 'cherry'}
for x in set:
  print(x)

apple
banana
cherry

In [ ]:
set = {'apple', 'banana', 'cherry'}
print('banana' in set)

True

In [ ]:
set = {'apple', 'banana', 'cherry'}
set.add('orange')
print(set)

{'apple', 'banana', 'orange', 'cherry'}

In [ ]:
set = {'apple', 'banana', 'cherry'}
tropical = {'pineapple', 'mango', 'papaya'}
set.update(tropical)
print(set)

{'mango', 'cherry', 'pineapple', 'papaya', 'apple', 'banana'}

In [ ]:
set = {'apple', 'banana', 'cherry'}
list = ['kiwi', 'orange']
set.update(list)
print(set)

{'kiwi', 'orange', 'banana', 'cherry', 'apple'}

In [ ]:
#Remove set items
set = {'apple', 'banana', 'cherry'}
set.remove('banana')
print(set)

{'apple', 'cherry'}

In [ ]:
set = {'apple', 'banana', 'cherry'}
set.discard('banana')
print(set)

{'apple', 'cherry'}

In [ ]:
set = {'apple', 'banana', 'cherry'}
x = set.pop()
print(x)
print(set)

apple
{'banana', 'cherry'}

In [ ]:
set = {'apple', 'banana', 'cherry'}
set.clear()
print(set)

set()

In [ ]:
set = {'apple', 'banana', 'cherry'}
del set
print(set)

<class 'set'>

In [ ]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [ ]:
#Keep only duplicates
x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
#Remove duplicates
x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}
z = x.symmetric_difference(y)
print(z)

{'banana', 'google', 'microsoft', 'cherry'}

In [ ]:
#True and 1 considered the same
x = {'apple', 'banana', 'cherry', True}
y = {'google', 1, 'apple', 2}
z = x.symmetric_difference(y)
print(z)

{2, 'banana', 'google', 'cherry'}

##Dictionaries

In [ ]:
dict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
print(dict['brand'])

Ford

In [ ]:
dict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964,
    'year': 2020
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(len(dict))

3

In [ ]:
dict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964,
    'colors': ['red','white','blue']
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
print(type(dict))

<class 'dict'>

In [ ]:
dict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}
x = dict['model']
print(x)

Mustang

In [ ]:
x = dict.get('model')
print(x)

Mustang

In [ ]:
x = dict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
car = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}

x = car.keys()

print(x) #before the change

car['color'] = 'white'

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
x = dict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
car = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}

x = car.values()

print(x) #before the change

car['year'] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
x = dict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}

x = car.items()

print(x) #before the change

car['year'] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
#Add items
dict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}
dict.update({'color':'red'})
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#Remove items
dict = {
    'brand':'Ford',
    'model':'Mustang',
    'year':1964
}
dict.pop('model')
print(dict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
dict = {
    'brand':'Ford',
    'model':'Mustang',
    'year':1964
}
for x in dict:
  print(x)

brand
model
year

In [ ]:
for x in dict:
  print(dict[x])

Ford
Mustang
1964

In [ ]:
for x, y in dict.items():
  print(x,y)

brand Ford
model Mustang
year 1964

In [ ]:
#Nested
myfamily = {
    'Father':{
        'name': 'Devendrabhai',
        'age': 60
    },
    'Mother':{
        'name': 'Varshaben',
        'age': 55
    },
    'Daughter':{
        'name': 'Purvi',
        'age': 30
    },
    'Son':{
        'name': 'Sagar',
        'age': 26
    }
}
print(myfamily)

{'Father': {'name': 'Devendrabhai', 'age': 60}, 'Mother': {'name': 'Varshaben', 'age': 55}, 'Daughter': {'name': 'Purvi', 'age': 30}, 'Son': {'name': 'Sagar', 'age': 26}}

In [ ]:
print(myfamily['Son'])

{'name': 'Sagar', 'age': 26}

##If and Else

In [ ]:
#Equals(a == b), Not equals(a != b), Less than(a < b), Greater than(a > b), Greater than or eqaul to(a >= b)
a = 33
b = 200
if b > a:
  print('b is greater than a')

b is greater than a

In [ ]:
#elif
a = 33
b = 33
if b > a:
  print('b is greater than a')
elif a == b:
  print('a and b are equal')

a and b are equal

In [ ]:
#else
a = 200
b = 33
if b > a:
  print('b is greater than a')
elif a == b:
  print('a and b are eual')
else:
  print('a is greater than b')

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print('b is greater than a')
else:
  print('b is not greater than a')

b is not greater than a

In [ ]:
if a > b: print('a is greater than b')

a is greater than b

In [ ]:
a = 2
b = 330
print('A') if a > b else print('B')

B

In [ ]:
#Nested If
x = 41
if x > 10:
  print('Above ten,')
  if x > 20:
    print('and also above 20!')
  else:
    print('but not above 20.')

Above ten,
and also above 20!

In [ ]:
a = 33
b = 200
if b > a:
  pass

##While loops

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#continue
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print('i is no longer less than 6')

1
2
3
4
5
i is no longer less than 6

##For loops

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  print(x)
  if x == 'banana':
    break

apple
banana

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  if x == 'banana':
    break
  print(x)

apple

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
  if x == 'banana':
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print('Finally finished!')

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print('Finally finished')

0
1
2

In [ ]:
#Nested
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Functions

In [ ]:
def my_function():
  print('Hello from a function')
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + ' Patel')
my_function('Sagar')
my_function('Purvi')
my_function('Devendra')

Sagar Patel
Purvi Patel
Devendra Patel

In [ ]:
def my_function(fname, lname):
  print(fname + ' ' + lname)
my_function('Sagar', 'Patel')

Sagar Patel

In [ ]:
def my_function(*kids):
  print('The youngest child is ' + kids[2])
my_function('Sagar', 'Purvi', 'Smith')

The youngest child is Smith

In [ ]:
def my_function(**kid):
  print('His last name is '+ kid['lname'])
my_function(fname = 'Sagar', lname = 'Patel')

His last name is Patel

In [ ]:
def my_function(country='india'):
  print('I am from ' + country)
my_function('sweden')
my_function('norway')
my_function()
my_function('brazil')

I am from sweden
I am from norway
I am from india
I am from brazil

In [ ]:
def my_function(food):
  for x in food:
    print(x)
fruits = ['apple', 'banana', 'cherry']
my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x
print(my_function(2))
print(my_function(5))
print(my_function(10))

10
25
50

In [ ]:
#Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result
print("Recursion example results")
tri_recursion(6)

Recursion example results
1
3
6
10
15
21

21

##Lambda

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5,6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(3,6,5))

14

In [ ]:
def my_function(n):
  return lambda a : a * n
mydoubler = my_function(2)
print(mydoubler(11))

22

##Classes and Objects

In [ ]:
#class
class MyClass:
  x = 5
print(MyClass)

<class '__main__.MyClass'>

In [ ]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [ ]:
#__init__()
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1 = Person('Sagar', 27)
print(p1.name)
print(p1.age)

Sagar
27

In [ ]:
#__str__()
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f'{self.name}({self.age})'
p1 = Person('Sagar', 27)
print(p1)

Sagar(27)

In [ ]:
#Object method
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print('Hello my name is ' + self.name)
p1 = Person('Sagar', 27)
p1.myfunc()

Hello my name is Sagar

##Inheritance

In [ ]:
#Parent Class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)
x = Person('Sagar', 27)
x.printname()

Sagar 27

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student('Sagar', 'Patel')
x.printname()

Sagar Patel

##Modules

In [24]:
import platform
x = platform.system()
print(x)

Linux

In [25]:
x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

##Dates

In [27]:
import datetime
x = datetime.datetime.now()
print(x)

2023-11-21 07:56:27.529562

In [28]:
print(x.year)
print(x.strftime('%A'))

2023
Tuesday

In [29]:
x = datetime.datetime(2023, 4, 14)
print(x)

2023-04-14 00:00:00

In [30]:
print(x.strftime('%B'))

April

##Math

In [31]:
x = min(5,10,24)
y = max(5,21,34)
print(x)
print(y)

5
34

In [32]:
#abs()
x = abs(-24.5)
print(x)

24.5

In [33]:
#power
x = pow(4, 3)
print(x)

64

In [34]:
import math
x = math.sqrt(64)
print(x)

8.0

In [35]:
x = math.ceil(1.4)
y = math.floor(1.4)
print(x)
print(y)

2
1

In [36]:
x = math.pi
print(x)

3.141592653589793

##User Input

In [37]:
username = input('Enter username:')
print('Username is: ' + username)

Enter username:Sagar
Username is: Sagar